1. what are data structures and why are they important in python ?
* Function is a block of code which perfurm some specify task or computation
* functions are reusable, neat, clean and keep code organised, save time aswell

2. Explain the difference ,between mutable and immutable data types with examples.
* A Mutable data type means its value can be changed after it's created,  immutable data type cannot be modified once created.
* example for Mutable

In [ ]:
name = ['Ranjith', 'Pavan', 'Sree']

#add element in the existing list
name.append('Sundar')

#print the result
print(name)

['Ranjith', 'Pavan', 'Sree', 'Sundar']

3. what are the main differences between lists and tuples in python?
* List Can be modified, Tuples Cannot be modified.
* List have Less memory efficient, Tuples have More memory efficient.
* List is Slower comper to tuples.
* List Created using square brackets [], tuples Created using parentheses ()

4. describe how dictionaries store data in python ?
* A Python dictionary is a data structure that stores the value in key: value pairs. Values in a dictionary can be of any data type and can be duplicated, whereas keys can't be repeated and must be immutable.

5. Why might you use a set instead of a list in python ?
* The Python sets are highly useful to efficiently remove duplicate values from a collection like a list and to perform common math operations like unions and intersections.

6. What is a string in python, and how is it different from a list?
* In Python, a string is a sequence of characters. For example, "hello" is a string containing a sequence of characters 'h' , 'e' , 'l' , 'l' , and 'o' . We use single quotes or double quotes to represent a string in Python.
* A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc).

7. How do tuples ensure data integrity in python?
* Tuples are used to store multiple items in a single variable. Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage. A tuple is a collection which is ordered and unchangeable.


8. what is a hash tables, and how does it relate to dictionaries in python
* Hash Table in Python is a data structure which stores data by using a pair of values and keys. Each data value is allocated an exclusive key that is created by using the hash functions.
* Python's built-in dict type is an implementation of a hash table.
* Dictionaries are unordered collections of key-value pairs.
* The keys in a dictionary are unique and immutable.
* The values in a dictionary can be of any type and are mutable.

9. Can lists contain different data types in python?
* it's not really common, a list can also contain a mix of Python types including strings, floats, and booleans.

10. Explain why strings are immutables in Python.
* Strings in Python are immutable which means they can not be changed after they are created.

11. What advantages do dictionaries offer over lists for certain tasks?
* Dictionaries offer several advantages over lists.

* Fast Lookups

* Key-Value Pair Storage

* No Need for Sequential Indexing

* Efficient Membership Testing

* Easier Data Organization
* Flexibility in Data Storage
* Memory Efficiency for Sparse Data
* Eliminates Need for Iteration in Some Cases

12. Describe a scenario where using a tuple would be preferable over list

In [ ]:
#use cases of tuple >> Aadhar card, ATM, you dont want to edit this is tuple to store the data
emp_name = ("Ranjith", "Pavan", "Sree", "Ravi")

In [ ]:
emp_name

('Ranjith', 'Pavan', 'Sree', 'Ravi')

In [ ]:
emp_name[2] = "Anitha" #tuples are immutable

TypeError: 'tuple' object does not support item assignment

13. How do sets handle duplicate values in Python?
* In Python, sets automatically handle duplicate values by ensuring all elements are unique. When you add duplicate elements to a set, Python ignores them rather than storing multiple copies.

14. How does the"in" keyword work differently for lists and dictionaries?
* "in" with Lists -
When used with a list, in checks whether a specific value exists anywhere in the list by iterating through each element one by one.
* "in" with Dictionaries -
When used with a dictionary, in checks for the existence of a key, not a value. Dictionary lookups use hashing, making them significantly faster.

15. Can you modify the elements of a tuples? Explain why or why not.
* No, tuples are immutable in Python, meaning you cannot modify their elements after creation. If you try to change an element, Python will raise a TypeError.

16. What is a nested dictionary, and give an example of its use case?
* A nested dictionary is a dictionary inside another dictionary. It allows you to store hierarchical or structured data in Python. Each key in the outer dictionary can have a dictionary as its value.

In [ ]:
company_structure = {"Sales": {"John": {"role": "Sales Manager", "age": 35},"Jane": {"role": "Account Executive", "age": 28}},
"Marketing": {"Mike": {"role": "Marketing Director", "age": 40}, "Sarah": {"role": "Social Media Specialist", "age": 25}},
"Engineering": {"David": {"role": "Software Engineer", "age": 30}}}
print(company_structure["Sales"]["John"]["role"])

Sales Manager

17. Describe the time complexity of accessing elements in a dictionary.
* Accessing an element in a Python list by its index is an efficient operation with constant time complexity. Under the hood, lists use an underlying array structure to store their elements. This enables direct access to any element by index, resulting in O(1) complexity.

18. In what situations are lists preferred over dictionaries?
* Lists are great to use when you want to work with many related values. They enable you to keep data together that belongs together.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
* Dictionaries are considered unordered because they do not maintain a specific order of their key-value pairs when accessed.

20.  Explain the difference between a list and a dictionary in items of data retrieval.
* list Access by index (position), dictionary access by key.
* Time Complexity of list is O(1) for direct access, Time Complexity of dictionary is O(1) average, O(n) worst case.
* O(n) for searching an item, O(1) for key-based lookups
* Ordered collection where position matters for use case in list, Key-value storage where fast lookup is needed for use in dictionary.

In [ ]:
# Practical Questions.
#1.  Write a code to create a string with your name and print it.
name = "Ranjith"
print(name)

Ranjith

In [ ]:
#2. 2. Write a code to find the length of the string "Hello world".
text = "Hello world"
len(text)

11

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python programming"
text = "Python Programming"
sliced_text = text[:3]
print(sliced_text)

Pyt

In [ ]:
#4. Write a code to convert the string "hello" to uppercase.
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
text = "I like apple"
replaced_text = text.replace("apple", "orange")
print(replaced_text)

I like orange

In [ ]:
#6. Write a code to creat a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [ ]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [ ]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
let = ['a', 'b', 'c', 'd']
print(let[1])

b

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50]
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [ ]:
#11. Write a code to creat a tuple with the elements 100, 200, 300 and print it.
numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

In [ ]:
#12. Write a code to access the second to last element of the tuple ("red", "green", "blue", "yellow")
colors = ("red", "green", "blue", "yellow")
print(colors[-2])

blue

In [ ]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [ ]:
#14. Write a code to find the index of element "cat" in the tuple ("dog", "cat", "rabbit")
animals = ("dog", "cat", "rabbit")
print(animals.index("cat"))

1

In [ ]:
#15. Write a code to creat a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "orange")
if "kiwi" in fruits:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is not in the tuple

In [ ]:
fruits = ("apple", "banana", "kiwi")
if "kiwi" in fruits:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is in the tuple

In [ ]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
letters = {"a", "b", "c"}
print(letters)

{'c', 'a', 'b'}

In [ ]:
#17. Write a code to clear all element from the set {1, 2, 3, 4, 5}.
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

In [ ]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}
numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

In [ ]:
#19. 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [ ]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [ ]:
#21. Write a code to create a dictionary with the keys "name ", "age", and "city", and print it.
person = {"name": "Ranjith", "age": 28, "city": "Bangalore"}
print(person)

{'name': 'Ranjith', 'age': 28, 'city': 'Bangalore'}

In [ ]:
#22. Write a code to add a new key value pair "county":"USA" to the dictionary {"name": "John", "age":25}
person = {"name": "John", "age": 25}
person["county"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'county': 'USA'}

In [ ]:
#23. Write a code to access the value associated with the key "name" in the dictionary {"name": "Alice", "age": 30}.
person = {"name": "Alice", "age": 30}
print(person["name"])

Alice

In [ ]:
#24. Write a code to remove the key"age" from the dictionary {"name": "Bob", "age":22, "city":"New york"}
person = {"name": "Bob", "age": 22, "city": "New York"}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25. Write a code to check if the key "city" exists in the dictionary {"name": "Alice", "city": "Paris"}
dic = {"name": "Alice", "city": "Paris"}
if "city" in dic:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [ ]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30, 40, 50)
my_dict = {"name": "Ranjith", "age": 28, "city": "Bangalore"}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'name': 'Ranjith', 'age': 28, 'city': 'Bangalore'}

In [ ]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[19, 32, 36, 62, 72]

In [ ]:
#28. Write a code to create a list with strings and print the element at the third index.
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(string_list[2])

cherry

In [ ]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"a": "Ranjith", "b": "pawan"}
dict2 = {"c": "Sree", "d": "Manjo"}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 'Ranjith', 'b': 'pawan', 'c': 'Sree', 'd': 'Manjo'}

In [ ]:
#30. Write a code to convert a list of strings into a set.
list = ["apple", "banana", "cherry", "date", "elderberry"]
string_set = set(list)
print(string_set)

{'apple', 'date', 'cherry', 'banana', 'elderberry'}